* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

.primary-btn {
  padding: 15px 40px;
  background: #5585b5;
  font-weight: bold;
  color: white;
}

.secondary-btn {
  padding: 15px 40px;
  font-weight: bold;
  color: white;
  border: 2px solid #5585b5;
}

.container {
  max-width: 85%;
  margin: auto;
}

/*------header------*/
header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}

header img {
  margin: 20px 0;
  width: 40px;
  height: 40px;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #000000;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #53a8b6;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header .navlinks span {
  display: none;
}

@media only screen and (max-width: 768px) {
  header ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #53a8b6;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
    z-index: 9;
  }

  header ul li {
    display: block;
  }

  header li a {
    color: #ffffff;
  }

  header i {
    color: #ffffff;
  }

  header .navlinks span {
    color: #000000;
    display: block;
    cursor: pointer;
    line-height: 10vh;
    font-size: 25px;
  }
}
/*------header------*/

/*------home------*/
.home {
  height: 100vh;
  color: #ffffff;
}

.home img {
  width: 100%;
  height: 100vh;
  filter: brightness(50%);
}

.home .text {
  position: absolute;
  top: 35%;
  left: 5%;
}

.home .text h1 {
  font-size: 80px;
  font-family: Antonio;
  font-weight: 400;
}

.home p {
  margin: 20px 0;
}

.home button {
  margin-right: 20px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #ffffff;
}

.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  color: #ffffff;
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;
}

/*------home------*/

/*------book------*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

.book {
  padding: 40px 0;
  background: #282834;
  color: #ffffff;
}

h2 {
  font-family: Poppins;
}

.book h2 {
  font-size: 28px;
  line-height: 1;
}

.book h2 span {
  color: #5585b5;
}

.book input {
  padding: 20px;
}

.book input:nth-last-child(1) {
  background: #5585b5;
  color: #ffffff;
}
/*------book------*/

/*------about------*/
.left,
.right {
  width: 50%;
  padding: 30px;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 20px;
}

.heading h2 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
  font-family: Poppins;
  position: absolute;
  top: -30px;
}

.heading h3 {
  margin: 30px 0;
  font-size: 45px;
  font-family: Poppins;
  font-weight: 400;
}

.about .heading h2 {
  top: 55px;
}

.about {
  position: relative;
}

.about .left {
  margin-top: 30px;
}

.about .p {
  font-size: 15px;
}

.about button {
  margin: 30px 0;
}

.about img {
  width: 100%;
  margin-top: 90px;
}

/*------about------*/

/*------counter------*/
.counter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/background-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
  color: #ffffff;
}

.counter .grid {
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  padding-top: 60px;
}

.counter h2 {
  font-size: 50px;
}

.counter hr {
  width: 50%;
  margin: 5px auto;
  background: #5585b5;
  height: 2px;
  border: none;
}
/*------counter------*/

/*------rooms------*/
.rooms {
  position: relative;
}

.rooms .text {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 30px;
}

.rooms i {
  font-size: 12px;
  color: #bbe4e9;
  margin: 15px 0;
  margin-right: 5px;
}

.rooms p {
  margin: 20px 0;
  opacity: 0.7;
}

.rooms .rate {
  font-size: 30px;
  line-height: 20px;
  margin-left: 20px;
  font-weight: 500;
  color: #5585b5;
}

.rooms h3 span {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}

.rooms h3 {
  top: 55px;
}

.rooms img {
  width: 150px;
  height: 200px;
}

.owl-carousel1 .owl-nav .owl-prev,
.owl-carousel1 .owl-nav .owl-next {
  position: absolute;
  top: -20%;
  height: 50px;
  width: 50px;
  background: #5585b5 !important;
}

.owl-carousel1 .owl-nav .owl-prev i,
.owl-carousel1 .owl-nav .owl-next i {
  color: #ffffff;
}

.owl-carousel1 .owl-nav .owl-prev {
  left: 88%;
}

.owl-carousel1 .owl-nav .owl-next {
  right: 0;
}

/*------rooms------*/

/*------gallery------*/
.gallery {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery .img {
  position: relative;
  width: 100%;
  height: 150px;
}

.gallery .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(85, 133, 181);
  width: 255px;
  height: 251px;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}

.overlay {
  position: absolute;
  top: 35%;
  left: 18%;
  z-index: 3;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  transition: 0.5s;
}

.gallery span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #ffffff;
}

.overlay h3 {
  margin-top: 20px;
  font-weight: 500;
}

.gallery .items:hover .overlay,
.gallery .items:hover .img::after {
  opacity: 0.8;
  cursor: pointer;
}

.gallery .owl-nav .owl-prev {
  left: 85%;
}

.gallery .owl-nav .owl-next {
  right: 5%;
}

.gallery .owl-nav .owl-next,
.gallery .owl-nav .owl-prev {
  top: -40%;
}
/*------gallery------*/

/*------services------*/
.services {
  position: relative;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.services .left {
  padding: 30px 0;
}

.services .box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s;
  padding: 20px;
}

.services .box .text {
  padding: 30px 0;
  border: 1px dashed #ffffff;
}

.services i {
  font-size: 50px;
  color: #5585b5;
  transition: 0.5s;
}

.services h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  transition: 0.5s;
}

.services img {
  width: 100%;
  height: 100%;
}

.services .box:hover {
  background: #5585b5;
  color: #ffffff;
  cursor: pointer;
}

.services .box:hover i,
.services .box:hover h4 {
  color: #ffffff;
}
/*------services------*/

/*------customer------*/
.customer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.customer .container {
  max-width: 70%;
}

.customer .item {
  padding: 10% 0;
}

.customer i {
  width: 100px;
  height: 100px;
  background: rgba(85, 133, 181);
  opacity: 0.7;
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 50px;
}

.customer p {
  line-height: 25px;
  margin-top: 70px;
}

.customer h3 {
  margin-top: 25px;
  color: #5585b5;
}

.customer span {
  font-size: 15px;
}

.owl-carousel2 .owl-dots {
  position: absolute;
  bottom: 60px;
  left: 46.6%;
}

.owl-carousel2 .owl-dots i {
  color: #5585b5;
}

.owl-carousel2 .owl-dots i:hover button {
  color: #5585b5 !important;
}

.owl-carousel2 span {
  border: 2px solid #ffffff;
  background: transparent !important;
}

.owl-carousel2 .active span {
  background: #5585b5 !important;
  border: 2px solid #ffffff;
}
/*------customer------*/

/*------news------*/
.news {
  position: relative;
}

.news i {
  color: #5585b5;
  text-transform: capitalize;
  font-size: 18px;
}

.news label {
  margin-top: 12px;
  margin-right: 20px;
}

.news .left {
  padding: 30px 0;
  width: 65%;
}

.news .right {
  width: 35%;
}

.news .left img {
  width: 100%;
}

.news .items p {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.news .box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}

.news .box:nth-child(1) {
  padding-top: 0;
}

.news .box:nth-last-child(1) {
  border-bottom: none;
}

.news .box img {
  width: 110px;
  height: 114px;
}

.news .stext {
  padding: 0 0 0 20px;
}
/*------news------*/

/*------newsletter------*/
.newsletter {
  position: relative;
}

.newsletter .container {
  background: #5585b5;
  padding: 40px 30px;
  margin-top: 30px;
  position: absolute;
  top: -70px;
  left: 8%;
  width: 100%;
}

.newsletter h1 {
  width: 100%;
  font-size: 30px;
  color: #ffffff;
  margin-top: 10px;
}

.newsletter input {
  padding: 20px;
}

.newsletter input:nth-last-child(2) {
  width: 80%;
  background: rgba(255, 255, 255, 0.4);
}

.newsletter input:nth-last-child(1) {
  margin-left: 20px;
  width: 20%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
/*------newsletter------*/

/*------footer------*/
footer {
  background: #282834;
  color: #b6b7b9;
  padding: 10% 0 5% 0;
}

footer .grid {
  grid-template-columns: 6fr 3fr 3fr;
}

footer p {
  color: #b6b7b9;
  font-size: 15px;
  line-height: 25px;
}

footer .icon i {
  margin: 20px 20px 20px 0;
  color: #b6b7b9;
}

footer h3 {
  color: #ffffff;
  margin-bottom: 10px;
}

footer li {
  margin-bottom: 20px;
}

footer i {
  color: #5585b5;
  margin: 20px 0;
  margin-right: 20px;
}

footer label {
  margin: 20px 0;
}
.legal {
  padding: 15px 0;
  background: #282834;
  color: #b6b7b9;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer img {
  width: 40px;
  height: 40px;
}
/*------footer------*/

@media (max-width: 900px) {
  .home .text h1 {
    font-size: 44px;
  }

  .home .text p {
    font-size: 13px;
  }

  .heading h2 {
    font-size: 60px;
  }

  .heading h3 {
    font-size: 34px;
  }

  .home {
    color: #ffffff;
    height: 50vh;
  }

  .home img {
    width: 100%;
    height: 50vh;
  }

  .home button {
    margin-right: 15px;
    padding: 10px 15px;
  }

  .home .owl-nav .owl-prev,
  .home .owl-nav .owl-next {
    height: 30px;
    width: 30px;
  }

  .left,
  .right {
    width: 100%;
  }

  .book .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .book h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }

  .book {
    padding: 20px 0px;
  }

  .book input {
    padding: 10px 10px;
  }

  .about {
    margin-top: 0px;
  }

  .about .left {
    padding: 30px 30px 0px 30px;
  }

  .about .right {
    padding: 0px 30px 30px 30px;
  }

  .container.flex,
  .book .flex_space {
    flex-direction: column;
  }

  .counter .grid {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15px;
  }

  .counter {
    margin-top: 40px;
  }

  .counter h2 {
    font-size: 40px;
  }

  .rooms .owl-nav .owl-prev {
    left: 80%;
  }

  .rooms .owl-nav .owl-prev,
  .rooms .owl-nav .owl-next {
    top: -15%;
  }

  .rooms {
    margin-top: 40px;
  }

  .rooms .owl-nav .owl-prev {
    left: 76%;
  }

  .rooms .owl-nav .owl-next,
  .rooms .owl-nav .owl-prev {
    top: -24%;
  }

  .rooms .owl-nav .owl-prev,
  .rooms .owl-nav .owl-next {
    height: 30px;
    width: 30px;
  }

  .rooms .owl-nav .owl-prev i,
  .rooms .owl-nav .owl-next i {
    line-height: 3px;
    padding-left: 5px;
  }

  .gallery .owl-nav .owl-prev {
    left: 75%;
  }

  .gallery .owl-nav .owl-next,
  .gallery .owl-nav .owl-prev {
    top: -100%;
  }

  .gallery .owl-nav .owl-prev,
  .gallery .owl-nav .owl-next {
    height: 30px;
    width: 30px;
  }

  .services .flex_space {
    flex-direction: column;
  }

  .services .box {
    padding: 5px;
  }

  .services .box .text {
    padding: 10px 0;
    border: 1px dashed #ffffff;
  }

  .services h4 {
    font-size: 18px;
  }

  .customer {
    height: 50vh;
  }

  .customer .container {
    max-width: 80%;
  }

  .customer i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    margin-bottom: 0px;
  }

  .owl-carousel2 .owl-dots {
    bottom: 0;
    left: 38%;
  }

  .news .content.flex {
    flex-direction: column;
  }

  .news .grid2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .news .left {
    padding: 10px 40px;
  }

  .news .right {
    width: 100%;
    padding: 20px;
  }

  .newsletter {
    position: relative;
    background: #5585b5;
  }

  .newsletter .container {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8px;
    position: relative;
  }

  .newsletter h3 {
    font-size: 12px;
  }

  .newsletter input:nth-last-child(1) {
    width: 45%;
    padding: 5px;
  }

  .newsletter input:nth-last-child(2) {
    width: 60%;
    padding: 5px;
  }
}
