* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

.primary-btn {
  padding: 15px 40px;
  background: #5585b5;
  font-weight: bold;
  color: white;
}

.secondary-btn {
  padding: 15px 40px;
  font-weight: bold;
  color: white;
  border: 2px solid #5585b5;
}

.container {
  max-width: 85%;
  margin: auto;
}

/*------header------*/
header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}

header img {
  margin: 20px 0;
  width: 40px;
  height: 40px;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #000000;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #53a8b6;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header .navlinks span {
  display: none;
}

@media only screen and (max-width: 768px) {
  header ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #53a8b6;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
    z-index: 9;
  }

  header ul li {
    display: block;
  }

  header li a {
    color: #ffffff;
  }

  header i {
    color: #ffffff;
  }

  header .navlinks span {
    color: #000000;
    display: block;
    cursor: pointer;
    line-height: 10vh;
    font-size: 25px;
  }
}
/*------header------*/

/*------home------*/
.home {
  height: 100vh;
  color: #ffffff;
}

.home img {
  width: 100%;
  height: 100vh;
  filter: brightness(50%);
}

.home .text {
  position: absolute;
  top: 35%;
  left: 5%;
}

.home .text h1 {
  font-size: 80px;
  font-family: Antonio;
  font-weight: 400;
}

.home p {
  margin: 20px 0;
}

.home button {
  margin-right: 20px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: 40%;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5) !important;
  color: #ffffff;
}

.owl-nav .owl-prev {
  left: 0;
}

.owl-nav .owl-next {
  right: 0;
}
/*------home------*/

/*------book------*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

input {
  outline: none;
  border: none;
  width: 100%;
}

.book {
  padding: 40px 0;
  background: #282834;
  color: #ffffff;
}

h2 {
  font-family: Poppins;
}

.book h2 {
  font-size: 28px;
  line-height: 1;
}

.book h2 span {
  color: #5585b5;
}

.book input {
  padding: 20px;
}

.book input:nth-last-child(1) {
  background: #5585b5;
  color: #ffffff;
}
/*------book------*/

/*------about------*/
.left,
.right {
  width: 50%;
  padding: 30px;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 20px;
}

.heading h2 {
  font-size: 100px;
  font-weight: 500;
  opacity: 0.1;
  font-family: Poppins;
  position: absolute;
  top: -30px;
}

.heading h3 {
  margin: 30px 0;
  font-size: 45px;
  font-family: Poppins;
  font-weight: 400;
}

.about .heading h2 {
  top: 55px;
}

.about {
  position: relative;
}

.about .left {
  margin-top: 30px;
}

.about .p {
  font-size: 15px;
}

.about button {
  margin: 30px 0;
}

.about img {
  width: 100%;
  margin-top: 90px;
}

/*------about------*/

/*------counter------*/
.counter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/background-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 100%;
  color: #ffffff;
}

.counter .grid {
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  place-items: center;
  padding-top: 60px;
}

.counter h2 {
  font-size: 50px;
}

.counter hr {
  width: 50%;
  margin: 5px auto;
  background: #5585b5;
  height: 2px;
  border: none;
}
/*------counter------*/

/*------rooms------*/
.rooms {
  position: relative;
}

.rooms .text {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 30px;
}

.rooms i {
  font-size: 12px;
  color: #bbe4e9;
  margin: 15px 0;
  margin-right: 5px;
}

.rooms p {
  margin: 20px 0;
  opacity: 0.7;
}

.rooms .rate {
  font-size: 30px;
  line-height: 20px;
  margin-left: 20px;
  font-weight: 500;
  color: #5585b5;
}

.rooms h3 span {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}

.rooms h3 {
  top: 55px;
}

.rooms img {
  width: 150px;
  height: 200px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  top: -20%;
  height: 50px;
  width: 50px;
  background: #5585b5 !important;
}

.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  color: #ffffff;
}

.owl-nav .owl-prev {
  left: 88%;
}

.owl-nav .owl-next {
  right: 0;
}

/*------rooms------*/

/*------gallery------*/
.gallery {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
}

.gallery .img {
  position: relative;
  width: 100%;
  height: 150px;
}

.gallery .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(85, 133, 181);
  width: 255px;
  height: 251px;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}

.overlay {
  position: absolute;
  top: 35%;
  left: 18%;
  z-index: 3;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  transition: 0.5s;
}

.gallery span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #ffffff;
}

.overlay h3 {
  margin-top: 20px;
  font-weight: 500;
}

.gallery .items:hover .overlay,
.gallery .items:hover .img::after {
  opacity: 0.8;
  cursor: pointer;
}

.gallery .owl-nav .owl-prev {
  left: 85%;
}

.gallery .owl-nav .owl-next {
  right: 5%;
}

.gallery .owl-nav .owl-next,
.gallery .owl-nav .owl-prev {
  top: -40%;
}
/*------gallery------*/

/*------services------*/
.services {
  position: relative;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.services .left {
  padding: 30px 0;
}

.services .box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.5s;
  padding: 20px;
}

.services .box .text {
  padding: 30px 0;
  border: 1px dashed #ffffff;
}

.services i {
  font-size: 50px;
  color: #5585b5;
  transition: 0.5s;
}

.services h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  transition: 0.5s;
}

.services img {
  width: 100%;
  height: 100%;
}

.services .box:hover {
  background: #5585b5;
  color: #ffffff;
  cursor: pointer;
}

.services .box:hover i,
.services .box:hover h4 {
  color: #ffffff;
}
/*------services------*/

/*------customer------*/
.customer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.customer .container {
  max-width: 70%;
}

.customer .item {
  padding: 10% 0;
}

.customer i {
  width: 100px;
  height: 100px;
  background: rgba(85, 133, 181);
  opacity: 0.7;
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  margin-bottom: 50px;
}

.customer p {
  line-height: 25px;
}

.customer h3 {
  margin-top: 25px;
  color: #5585b5;
}

.customer span {
  font-size: 15px;
}

.owl-carousel2 .owl-dots {
  position: absolute;
  bottom: 60px;
  left: 46.6%;
}

.owl-carousel2 .owl-dots i {
  color: #5585b5;
}

.owl-carousel2 .owl-dots i:hover button {
  color: #5585b5 !important;
}

.owl-carousel2 span {
  border: 2px solid #ffffff;
  background: transparent !important;
}

.owl-carousel2 .active span {
  background: #5585b5 !important;
  border: 2px solid #ffffff;
}
/*------customer------*/
