* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 40px;
  height: 40px;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: space-between;
}

.primary-btn {
  padding: 15px 40px;
  background: #5585b5;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 85%;
  margin: auto;
}

header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
}

header img {
  margin: 20px 0;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #000000;
  margin: 0 10px;
  transition: 0.5s;
}

header ul li a:hover {
  color: #53a8b6;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header .navlinks span {
  display: none;
}
